# Node.js
node_modules/


# Compiled output
/out/
/dist/
/*.map
/*.tsbuildinfo

# Dependency directories
/typings/

# User-specific files
.vscode-test/
.history/

# IDE settings
*.code-workspace

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini